<div *ngIf="pravoo">

        <h3> Algemene info</h3>
        <mat-form-field style="width:25px !important">
          <input matInput [(ngModel)]="pravoo.id" min="1" placeholder="#" />
        </mat-form-field>
        <mat-form-field style="width:400px !important">
          <input matInput [(ngModel)]="pravoo.name" placeholder="Model naam" />
        </mat-form-field>

        <h3>Peilpunten<button class="mat-icon-button material-icons" (click)="addFieldValue()">add</button></h3>
        <table mat-table [dataSource]="pravoo.peilpunten" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="peilpunt#">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'input-sort'"> # </th>
              <td mat-cell *matCellDef="let peilpunt" [ngClass]="'input-sort'">
                <mat-form-field style="width:25px !important">
                  <input matInput [(ngModel)]="peilpunt.sortorder" placeholder={{peilpunt.sortorder}} />
                </mat-form-field>
              </td>
          </ng-container>
          <ng-container matColumnDef="peilpuntnaam">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> naam </th>
              <td mat-cell *matCellDef="let peilpunt">
              <mat-form-field style="width:400px !important">
                  <input matInput [(ngModel)]="peilpunt.name" placeholder="Naam"/>
                </mat-form-field>
              </td>
          </ng-container>
          <ng-container matColumnDef="buttons">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> +/- </th>
              <td mat-cell *matCellDef="let peilpunt">
                  <button class="mat-icon-button material-icons"
                  id="deleteModelButton"
                  aria-label="Verwijderen"
                  aria-hidden="false"
                  aria-pressed="false"
                  (click)="deleteFieldValue(peilpunt)">delete</button>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumnsPeilpunten"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: displayColumnsPeilpunten"> 
          </tr>
        </table>
        


        <h3>Clusters<button class="mat-icon-button material-icons">add</button></h3>

        <app-pravoo-model-cluster [pravooClusters]="pravoo.clusters"></app-pravoo-model-cluster>

</div>
