
  <mat-accordion >
      <mat-expansion-panel *ngFor="let category of pravooCategories">
        <mat-expansion-panel-header>
            <!-- <input matInput placeholder={{cluster.name}}/> -->
            <input matInput placeholder={{category.name}}>
        </mat-expansion-panel-header>
        <!-- <mat-form-field> -->
          <mat-select placeholder="Kies type">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        <!-- </mat-form-field>
        <mat-form-field> -->
            <app-pravoo-model-category-stepper></app-pravoo-model-category-stepper>
        <!-- </mat-form-field>   -->
      </mat-expansion-panel>
    </mat-accordion> 



