<p>
  <mat-expansion-panel [expanded]="expanded" (opened)=true hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pravoo Models
        </mat-panel-title>
      </mat-expansion-panel-header>
    <table mat-table [dataSource]=pravooModellen class="mat-elevation-z8">
        <ng-container matColumnDef="sortorder">
          <span>
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let pravoo"> <span class="badge">{{pravoo.id}} </span></td>
          </span>
        </ng-container>
        <ng-container matColumnDef="pravooname">
          <span>
            <th mat-header-cell *matHeaderCellDef [ngClass]="'column-pravooName'"> Naam </th>
            <td mat-cell *matCellDef="let pravoo" [ngClass]="'column-pravooName'"> {{pravoo.name}} </td>
          </span>
        </ng-container>

        <ng-container matColumnDef="iconbuttons">
          <span>
            <th mat-header-cell *matHeaderCellDef>
              <span>
                  CRUD Acties
              </span>
            </th>
            <td mat-cell *matCellDef="let pravoo">
                <button class="mat-icon-button material-icons"
                id="viewModelButton"
                aria-label="Bekijken"
                aria-hidden="false"
                aria-pressed="false"
                (click)="onOpen( pravoo )">open_in_browser</button><!--remove_red_eye -->
                <button class="mat-icon-button material-icons"
                id="copyModelButton"
                aria-label="Kopiëren"
                aria-hidden="false"
                aria-pressed="false"
                (click)="onCopy( pravoo )">content_copy</button>
                <button class="mat-icon-button material-icons"
                id="editModelButton"
                aria-label="Bewerken"
                aria-hidden="false"
                aria-pressed="false"
                (click)="onEdit( pravoo )">edit</button><!--systemmodellen geen edit/delete icon-->
                <button class="mat-icon-button material-icons"
                id="deleteModelButton"
                aria-label="Verwijderen"
                aria-hidden="false"
                aria-pressed="false"
                (click)="onDelete( pravoo )">delete</button><!--systemmodellen geen edit/delete icon-->
            </td>
          </span>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let pravoo; columns: columnsToDisplay;" ></tr> ><!--[dragula]='"first-bag"'-->
    </table>
  </mat-expansion-panel>

